
/*
* LA gráfica pitera
*
*/
.bar-container .bar{
  background:grey;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*
* EL EDITOR DE ARTÍCULOS
* 
*/



.input{
  cursor: pointer;
}

.axis {
    stroke-width: 0.8;
    stroke: #000;
}


.editable{
  padding : 0;
}

path{
  stroke: #F8CA4D;
  stroke-width: 2;
  fill: none;
}

path.initial-amount{
  stroke: #ccc;
}

path.yield{
  stroke: #45B29D;
}

path.expenses{
  stroke: #EA6045;
}

path.income{
  stroke: #2F3440;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

text.yLabel,
text.xLabel {
	fill: grey;
}

.axis {
    stroke-width: 0.8;
    stroke: #ccc;
}
.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #ccc;
}