
/*
* LA gráfica pitera
*
*/
.bar-container .bar{
  background:grey;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*
* EL EDITOR DE ARTÍCULOS
* 
*/

.publicar-articulo{
  background: black;
  color:white;
  cursor: pointer;
  height: 3em;
  pading: 5em auto;
  text-align: center;
  width: 100%;
}

.input{
  cursor: pointer;
}

.axis {
    stroke-width: 0.8;
    stroke: #000;
}

#add-more-content{
  border: 1px solid red;
}

.editable{
  padding : 0;
}

path{
  stroke: green;
  stroke-width: 1.5;
  fill: none;
}

path.initial-amount{
  stroke: blue;
}

path.yield{
  stroke: grey;
}

path.expenses{
  stroke: red;
}

path.income{
  stroke: black;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.axis {
    stroke-width: 0.8;
    stroke: #000;
}
.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}