
/*
* LA gráfica pitera
*
*/
.bar-container .bar{
  background:grey;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*
* EL EDITOR DE ARTÍCULOS
* 
*/

.publicar-articulo{
  background: black;
  color:white;
  cursor: pointer;
  height: 3em;
  pading: 5em auto;
  text-align: center;
  width: 100%;
}

.input{
  cursor: pointer;
}

#add-more-content{
  border: 1px solid red;
}

.editable{
  padding : 0;
}

path{
  stroke: #e2e2e2;
  stroke-width: 0.9;
  fill: none;
}