* { font-family: 'Roboto', Helvetica, sans-serif;
	
}

#line-trust-name { 
	color: rgb(64, 64, 64);
	margin-bottom: 0;
	min-height: 60px;
}
#graph-main .g-container text { 
		fill: #999;
		font-size: 12px;
}
div.popup{
  background : white;
  border : 1px solid grey;
  bottom:0;
  color : grey;
  display: none;
  height : 100px;
  margin:0;
  position:absolute;
  width : 100px;
  z-index: 100000;
}