* { font-family: 'Roboto', Helvetica, sans-serif !important;
	
}

#line-trust-name { 
	color: rgb(64, 64, 64);
	margin-bottom: 0;
	min-height: 60px;
}
#graph-main .g-container text { 
		fill: #999;
		font-size: 12px;
}
div.popup{
  background : white;
  border : 1px solid grey;
  bottom:0;
  color : grey;
  display: none;
  height : 100px;
  margin:0;
  position:absolute;
  width : 100px;
  z-index: 100000;
}

.que_es p{
  text-align: justify;
    text-justify: inter-word;
}


div.h2, div.h3{
  font: 700 27px "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  padding: 20px 0 20px;
}