<h4 class="graph_title"><strong>Ingresos y Gastos por año:</strong> </h4>
<!-- labels-->
<div class="row labels_graphs">
	<div class="col-sm-3">
		<p><b class="income"></b> Ingresos</p>
	</div>
	<div class="col-sm-3">
		<p><b class="expense"></b> Gastos</p>
	</div>
	<div class="col-sm-12">
		<p class="label_amount">Millones de pesos</p>
	</div>
</div>

<div class="graph"></div>
<p>
  <a class="kill" href="#">eliminar</a> | 
  <a class="update" href="#">editar</a> | 
  <a class="save" href="#">guardar</a>
</p>