<h4 class="graph_title"><strong>Histórico 2006 a 2014:</strong> </h4>
<!-- labels-->
<div class="row labels_graphs">
	<div class="col-sm-3">
		<p><b class="income line"></b> Ingresos</p>
	</div>
	<div class="col-sm-3">
		<p><b class="yield line"></b> Rendimiento</p>
	</div>
	<div class="col-sm-3">
		<p><b class="expense line"></b> Gastos</p>
	</div>
	<div class="col-sm-3">
		<p><b class="availability line"></b> Disponibilidad</p>
	</div>
	<div class="col-sm-12">
		<p class="label_amount">Millones de pesos</p>
	</div>
</div>
<!--graph-->
<div class="graph"></div>
<!--notes-->
<div class="row">
	<div class="col-sm-12 note_graph">
	<div class="col-sm-8">
		<p><strong>RAMO</strong>: <span class="ramo"></span><br>
			<strong>UNIDAD RESPONSABLE COORDINADORA:</strong> <span class="unidad"></span></p>
		<p><strong>Nota.</strong> Aunque la gráfica comienza en el año 2006 es posible que el fideicomiso cuente con información previa a ese año.</p>
	</div>
	<div class="col-sm-4">
		<p><a href="#" class="fide_link">Información detallada del Fideicomiso ></a></p>
	</div>
	</div>
</div>
<p>
  <a class="kill" href="#">eliminar</a> | 
  <a class="update" href="#">editar</a> | 
  <a class="save" href="#">guardar</a>
</p>