<h4 class="graph_title"><strong>Comparativa de gasto entre Fideicomisos:</strong> </h4>
<!-- labels-->
<div class="row labels_graphs">
	<div class="col-sm-12">
		<p><b class="fide_0"></b> <span class="fide_name_0"></span></p>
		<p><b class="fide_1"></b> <span class="fide_name_1"></span></p>
		<p><b class="fide_2"></b> <span class="fide_name_2"></span></p>
	</div>
	<div class="col-sm-12">
		<p class="label_amount">Millones de pesos</p>
	</div>
</div>

<div class="graph"></div>
<!--notes-->
<div class="row">
	<div class="col-sm-12 note_graph">
		<p><strong>Nota.</strong> Aunque la gráfica comienza en el año 2006 es posible que los fideicomisos cuenten con información previa a ese año.</p>
	</div>
</div>
<p>
  <a class="kill" href="#">eliminar</a> | 
  <a class="update" href="#">editar</a> | 
  <a class="save" href="#">guardar</a>
</p>